<section class="chatrooms">

    <%= hidden_field_tag 'message_user_id', @user %>
    <%= hidden_field_tag 'message_chatroom_id', @chatroom.id %>
    <p>
      <%= label_tag 'body' %><br>
      <%= text_field_tag 'message_body' %>
    </p>
    <div class="btn" id="newMessage">send message</div>

</section>
