<h1>Welcome to Chatterbox!</h1>

<% if !user_logged_in? %>
  <p>Create a profile or just log in to get chattin'!</p>
  <%= link_to 'Login', login_path, class: "btn" %>
  <%= link_to 'New User', new_user_path, class: "btn" %>
<% else %>
  <p>Welcome pard'ner, git chattin'!</p>
  <%= link_to "Chatterboxes!", chatrooms_path, class: "btn" %>
<% end %>

